<mat-card class="example-card">
    <h1 class="text-left">About</h1><br><br>
    <h3 class="text-botton">NU Engineering Project Database System</h3>
</mat-card>
<div>
    <mat-card class="container">
        <mat-card>
            <div class="description-right">
                <p>
                    This thesis focuses on designing and developing a database system for engineering projects with
                    complex requirements at Naresuan University. Managing data for engineering projects with their
                    increasing complexity and volume has become a challenge and necessity. A well-structured database
                    system is crucial to efficiently collect, store, and retrieve project-related data, facilitating
                    insightful analysis and informed decision-making throughout the project lifecycle.
                </p>
                <p>
                    The aim of this research is to design and implement a database system tailored for intricate
                    engineering projects within the university. The system considers user requirements and employs
                    appropriate database technologies to enhance workflow efficiency and decision-making. The
                    user-friendly interface and robust security features of the database system cater to user needs
                    effectively.
                </p>
                <p>
                    Research outcomes demonstrate the stability and efficiency of the developed database system. It
                    showcases time savings in data retrieval and decision-making processes. User satisfaction with the
                    system's usability further validates its success.
                </p>
                <p>
                    This study underscores the significance of developing a database system for complex engineering
                    projects and presents research findings as guidelines for future database system development in
                    engineering projects.
                </p>
                <p>Keywords: Database system, Engineering projects, Complex requirements, Data management,
                    Decision-making.</p><br><br>
            </div>
        </mat-card>
        <mat-card class="B">
            <div class="description-left">
                <h2 style="font-size: 30px;">บทความนี้เกี่ยวกับ...</h2>
                <p>
                    วิทยานิพนธ์นี้เกี่ยวกับการออกแบบและพัฒนาระบบฐานข้อมูลสำหรับโครงงานวิศวกรรมที่มีความซับซ้อนในมหาวิทยาลัยนเรศวร
                    การจัดการข้อมูลสำหรับโครงงานวิศวกรรมที่มีปริมาณและความซับซ้อนสูงเป็นสิ่งที่ท้าทายและความจำเป็น
                    เนื่องจากจะช่วยให้นักศึกษาวิศวกรรมและผู้จัดการโครงการสามารถเข้าถึงข้อมูลที่เป็นประโยชน์และตัดสินใจอย่างมีเหตุผลได้ในระหว่างการดำเนินงาน
                </p>
                <p>
                    วิทยานิพนธ์นี้มีเป้าหมายที่จะออกแบบระบบฐานข้อมูลที่มีโครงสร้างเหมาะสมเพื่อการจัดเก็บและการเรียกดูข้อมูลโครงงานวิศวกรรม
                    ผ่านการใช้เทคโนโลยีฐานข้อมูลที่เหมาะสม เพื่อเพิ่มประสิทธิภาพในการดำเนินงานและการตัดสินใจ นอกจากนี้
                    ระบบฐานข้อมูลยังมีฟังก์ชันการจัดการข้อมูลที่ใช้งานง่ายและมีความปลอดภัยเพื่อรับมือกับความต้องการของผู้ใช้งาน
                </p>
                <p>
                    ผลการวิจัยแสดงให้เห็นถึงความเสถียรและประสิทธิภาพของระบบฐานข้อมูลที่ถูกพัฒนาขึ้น
                    โดยแสดงให้เห็นถึงการลดเวลาในกระบวนการเรียกดูข้อมูลและการตัดสินใจ เป็นต้น นอกจากนี้
                    ผู้ใช้งานก็แสดงความพึงพอใจในการใช้งานระบบฐานข้อมูลดังกล่าว
                </p>
                <p>สรุปความสำคัญของการพัฒนาระบบฐานข้อมูลสำหรรับโครงงานวิศวกรรมที่มีความซับซ้อน
                    และการนำเสนอผลการวิจัยเพื่อเป็นแนวทางในการพัฒนาระบบฐานข้อมูลในโครงงานวิศวกรรมอื่นๆ ในอนาคต
                </p>
            </div>
        </mat-card>
    </mat-card>
</div>