<div class="filters-container">

  <mat-card class="major-card dash ">
    <mat-card-header>
    <mat-title class="mb-3">
      <a routerLink="/dashboard" class="text-lg"> Dashboard </a>
      <mat-icon> list_alt</mat-icon>
    </mat-title>
  </mat-card-header>
  </mat-card><br>

  <mat-card class="major-card">
    <mat-card-header>
      <mat-card-title>Major</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- filters.component.html -->
      <mat-selection-list [multiple]="false" >
        <mat-list-option (click)="onCategorySelected('All')" selected="">
          <a class="text-sm">ALL</a>
        </mat-list-option>
        <!-- <mat-card-title><a href="/home" class="text-sm">ALL</a></mat-card-title>   -->
        <mat-list-option (click)="onCategorySelected('Computer Engineering')">
          <a class="text-sm">Computer Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Electrical Engineering')">
          <a class="text-sm">Electrical Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Mechanical Engineering')">
          <a class="text-sm">Mechanical Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Civil Engineering')">
          <a class="text-sm">Civil Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Chemical Engineering')">
          <a class="text-sm">Chemical Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Industrial Engineering')">
          <a class="text-sm">Industrial Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Materials Engineering')">
          <a class="text-sm">Materials Engineering</a>
        </mat-list-option>
        <mat-list-option (click)="onCategorySelected('Environmental Engineering')">
          <a class="text-sm">Environmental Engineering</a>
        </mat-list-option>
      </mat-selection-list>

    </mat-card-content>
  </mat-card>
</div>